

.accordionDrop,
.accordionDropCustom {
  height: 60px;
  width: 100%;
  overflow: visible;
}
.ui.text.menu {
  margin: 0em -1.25em;
}

@media screen and (max-width: 599px) {
  .accordionDrop,
  .accordionDropCustom {
    margin-top: 0px;
  }
  .ui.text.menu {
    margin-left: -2px !important;
  }
}

.pushable {
  overflow-x: visible;
}

.ui.sidebar {
  overflow-y: visible !important;
}

.ui-menu {
  display: flex !important;
}

.ui.text.menu {
  display: block !important;
  margin-left: 0px;
}

.ui.accordion .title:not(.ui) {
  padding: 0px;
}

.iconWithStyle {
  margin: 0em 1em 0em 0.65em;
}

.teamIconStyle {
  margin: 0em 1em 0em 0.6em;
  width: 20px !important;
}

.ui.menu .teal.active.item {
  border-bottom: none !important;
}

.ui.icon.menu .item {
  text-align: left;
}

.ismobile {
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.14);
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.14);
}



.ui.menu .teal.active.item {
  border-color: #59c4c4 !important;
  color: #59c4c4 !important;
}
