.ui.dimmer{
    background:rgba(0,0,0,.5);
    .description{
        color:#686868
    }
}

.ui.small.modal {
    margin: 0;
    width: auto;
    padding: 23px 30px 30px;
    border-radius: 10px;
    background: white;
}

@media (max-width: 769px) {
    .ui.small.modal {
        width: 600px;
    }
}