.ui.loading.segment:after {
  position: absolute;
  content: '';
  top: 39%;
  left: 50%;
  margin: -3.5em 0px 0 -3.5em;
  width: 7em;
  height: 7em;
  animation: segment-spin 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0 0 0 1px transparent;
  visibility: visible;
  z-index: 101;
}
