.bm-transform-effect {
  transform: scale(1, 1);
  transition: 0.25s;
}

.bm-transform-effect:hover {
  transform: scale(1.1, 1.1);
}

.bm-color-effect {
  color: inherit;
}

.bm-color-effect:hover {
  color: #59c4c4;
}
